@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libertinus+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libertinus+Mono&family=Markazi+Text:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFDCDC;
    color: #222831;
}

h1 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5em;
    background-color: #FFD6BA;
    font-size: larger;
    font-weight: bolder;
    border-radius: 5px;
}

nav ul {
    display: flex;
    justify-content: center;
}

li a {
    text-decoration: none;
    font-size: larger;
}

nav li {
    list-style: none;
    color: black;
    margin: 0 23px;

}

nav ul li a:hover {
    font-size: 1.6rem;
    color: rgb(20, 2, 2);

}

nav .left {
    font-size: 2rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: Center;
    margin: 40px 0;

}

.firstSection>div {
    width: 30rem;

}

.leftSection {
    margin: 66px 0;
    font-size: 3rem;
}

.rightSection img {
    width: 35vw;
    margin: 35px 0;
}

.shade {
    color: rgb(125, 40, 205);
}

#element {
    color: rgb(125, 40, 205);
}

main hr {
    border: none;
    background-color: rgb(20, 2, 2);
    height: 3px;
    margin: 26px 10px;

}


.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondSection h1 {
    font-size: 2.9rem;
    margin-top: 1px;

}

.secondSection .text-gray {
    font-size: larger;
    font-weight: 500;
    text-transform: capitalize;
}

.secondSection .horizontalLine {
    width: 80vw;
    background: rgb(20, 2, 2);
    margin: 56px 0;
    height: 3px;
    display: flex;
}

.secondSection .verticalLine {
    height: 98px;
    width: 3px;
    background-color: rgb(20, 2, 2);
    margin: 0 121px;
}

.imageTop {
    width: 3.3vw;
    position: relative;
    top: -53px;
    left: -24px;
}

.imageTopCss {
    width: 2.3vw;
    position: relative;
    top: -53px;
    left: -17px;

}

.imageTopJs {
    width: 3.3rem;
    position: relative;
    top: -53px;
    left: -25px;
}

.imageTopPy {
    width: 2.9rem;
    position: relative;
    top: -53px;
    left: -25px;
}

.verticalTitle {
    position: relative;
    top: 49px;
    font-size: 14px;
    left: -98px;
    width: 224px;
    font-family: sans-serif;

}

.verticalDesc {
    position: relative;
    top: 54px;
    left: -114px;
    width: 218px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: gray;
    font-size: 12px;

}

nav .dark {
    color: rgb(125, 40, 205);
}